.container {
    width: 300px;
    text-align: center;
    margin-top: 10%;
    font-family: sans-serif;
    margin: 0 auto;
}

.check {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.form {
    width: 80%;
    margin: 0 auto;
}

lable {
    font-size: 30px;
    width: 90%;
}

.poster .desc {
    width: 80%;
    border-radius: 6px;
    height: 25px;
    margin-top: 0px;
    padding-top: 0px;
    border-color: silver;
    border-style: solid;
    background-color: cornsilk;
}

.btn {
    border-radius: 30px;
    height: 40px;
    width: 80%;
    border-style: solid;
    margin: 20px auto;
}

.btn:focus {
    color: red;
    background-color: black;
}

/* .btn:hover {
    padding-top: 20px;
} */

input[type="text"] {
    width: 80%;
    border-radius: 6px;
    height: 25px;
    margin-top: 10px;
    border-color: silver;
    border-style: solid;
    background-color: cornsilk;
}

input[type="file"]::after {
    content: "未选择图片";
    margin-right: 30px;
}

input[type="file"]::before {
    content: "选择一个图片";
    color: black;
    margin-right: 10px;
}

.hidden {
    display: none;
}

/* Response page styles */
